@font-face {
    font-family: 'MarriageFont';
    src: url('fonts/Handodle-rg38A.ttf') format('truetype');
}

@font-face {
    font-family: 'Inria Serif';
    src: url('fonts/InriaSerif-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Noto Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #005f50;
    color: white;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1080px;
    height: 100vh;
    gap: 1vw;
}

.tree {
    width: auto;
    height: 40%;
    margin-top: 20px;
    flex-shrink: 0;
}

@media screen and (max-width: 480px) {
    .tree {
        margin-top: -20px;
    }
}

.accordion-container h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 18px 18px;
    line-height: 1.2;
    color: rgba(242, 138, 96);
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .accordion-container h1 {
        font-size: 1rem;
    }
}

.accordion-container button {
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.accordion-container {
    font-family: 'Noto Sans', Arial, sans-serif;
    width: 80%;
    max-width: 1080px;
    min-width: 320px;
    box-sizing: border-box;
    overflow: auto;
    margin-bottom: 5vw;
    font-size: 1vw;
}

.accordion {
    letter-spacing: 0.1rem;
    font-family: 'Noto Sans', Arial, sans-serif;
    background-color: #005f50;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1vw;
}


@media screen and (max-width: 480px) {
    .accordion-container {
        font-size: 0.8rem; /* Even smaller font size for mobile devices */
    }
    .accordion {
        font-size: 0.8rem; /* Even smaller font size for mobile devices */
    }
}

.accordion:hover {
    background-color: #427c5a;
    border-radius: 5px;
}

.active {
    background-color: #427c5a;
    border-radius: 5px 5px 0 0;
}
.accordion.active:hover {
    border-radius: 5px 5px 0 0;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #427c5a;
    border-radius: 0 0 5px 5px;

}

.accordion:after {
    content: url('assets/plus.svg');
    float: right;
    width: 13px; /* Set the size */
    height: 13px;
}

.active:after {
    content: url('assets/minus.svg');
}


::-webkit-scrollbar-track
{
    border-color: transparent;
    background-color: #005f50;
}

::-webkit-scrollbar
{
    width: 4px;
    background-color: #005f50;
}

::-webkit-scrollbar-thumb
{
    background-color: rgba(242, 138, 96);
    border-radius: 5px;
}
